Repository yasertunc/project-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,css,scss}": ["prettier --write"]
}

chore: remove temporary .pr-body-update.md
  .pr-body-update.md
Due: prettier --write

Update Chromatic workflow settings
  .github/workflows/chromatic.yml
Due: prettier --write

feat: mobile MVP UI and EAS build config
  .github/workflows/chromatic.yml
  .github/workflows/eas-build.yml
  .github/workflows/pr-summary.yml
  .github/workflows/preview.yml
  apps/mobile/app/index.tsx
  apps/mobile/src/components/SwipeableNavigation.tsx
  src/components/AppPhoneMock.styles.ts
  src/components/AppPhoneMock.test.tsx
  src/components/AppPhoneMock.tsx
  src/components/Map/GoogleMap.module.css
  src/components/Map/GoogleMap.stories.tsx
  src/components/Map/GoogleMap.test.tsx
  src/components/Map/GoogleMap.tsx
Due: eslint --fix, prettier --write

fix: update labeler config for actions/labeler@v5
  .github/labeler.yml
Due: prettier --write

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/health.yml
Due: prettier --write

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/release-drafter.yml
Due: prettier --write

Potential fix for code scanning alert no. 3: Workflow does not contain permissions (#9)
  .github/workflows/release-drafter.yml
Due: prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#10)
  .github/workflows/ci.yml
Due: prettier --write

chore: override fast-json-patch to secure version
  package-lock.json
  package.json
Due: prettier --write

chore: remove LHCI tooling and resolve remaining npm audit issues
  .github/workflows/lhci.yml
  package-lock.json
  package.json
Due: prettier --write

fix: update labeler config for actions/labeler@v5 (#11)
  .github/labeler.yml
Due: prettier --write

Revert "fix: update labeler config for actions/labeler@v5 (#11)"
  .github/labeler.yml
Due: prettier --write

Linearize history and apply audits
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/workflows/pr-summary.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

Update audit deps (ajv-cli override, vitest 4)
  package-lock.json
  package.json
Due: prettier --write

feat: port storybook mock UI to mobile app
  apps/mobile/app.config.ts
  apps/mobile/app/index.tsx
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
  apps/mobile/src/components/AppPhoneMock/AppPhoneMockNative.tsx
  apps/mobile/src/theme/tokens.js
  apps/mobile/src/theme/tokens.ts
Due: eslint --fix, prettier --write

chore: fix labeler config and gitleaks allowlist
  .github/labeler.yml
  .gitleaks.toml
Due: prettier --write

chore: simplify eas build workflow and clean pr summary statuses
  .github/workflows/eas-build.yml
  .github/workflows/pr-summary.yml
Due: prettier --write

Fix type setup and enable LHCI workflows
  .github/workflows/lhci.yml
  .github/workflows/pr-summary.yml
  apps/mobile/app/index.tsx
  package-lock.json
  package.json
  src/components/LanguageSwitcher.test.tsx
  src/components/homepage/Hero.smoke.test.tsx
  src/components/primitives.test.tsx
  tsconfig.json
  vitest.setup.ts
Due: eslint --fix, prettier --write

Clean husky commit-msg hook
  .husky/commit-msg
Due: none

Fix EAS workflow expressions and triggers
  .github/workflows/eas-build.yml
Due: prettier --write

Tidy EAS build env for editor warnings
  .github/workflows/eas-build.yml
Due: prettier --write

feat: improve EAS build workflow and add GitHub configuration docs
  .github/.gitignore
  .github/SECRETS.md
  .github/workflows/eas-build.yml
Due: prettier --write

fix: correct gitleaks.toml allowlist regex format
  .gitleaks.toml
Due: none

fix: use simple string array format for gitleaks allowlist regexes
  .gitleaks.toml
Due: none

fix: add explicit permissions to Secret Scanning workflow
  .github/workflows/secret-scanning.yml
Due: prettier --write

refactor: remove subtitles from all Section components in AppPhoneMock
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

refactor: remove all titles from Section components for cleaner UI
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: add Instagram-style stories section to Social Feed
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: improve stories section scrolling and hide scrollbar
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: hide vertical scrollbars and compact UserMediaLibrary
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: implement map notification and chat group management
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

fix: remove inactive compass button from map view
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: add comprehensive chat settings and saved groups management
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

fix: make entire chat settings section clickable
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: redesign chat settings with group creation and detailed user management
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: implement anonymous chat system for filtered users
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: add comprehensive group settings panel to Groups view
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write

feat: make message input dynamic based on page context
  src/components/AppPhoneMock.tsx
Due: eslint --fix, prettier --write
